
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 class="text-center">ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC ĐẶT THÀNH CÔNG </h2>
<h2 class="text-center" >XIN CẢM ƠN</h2>


